.App {
  background-color: antiquewhite;

}

/* .nav-full-width{
  flex-basis: 100%;
  background-color: rgb(238, 199, 152);
}

.sidebar-in-app
{
  background-color: antiquewhite;
  flex-grow: 1;
}
.content-in-app
{
  background-color: rgb(202, 171, 124);
  flex-grow: 3;
} */