.movie-grid {
    display: flex;
    flex-wrap: wrap;
    grid: gap 3px;  }
  
  .movie-grid-row {
    display: flex;
    flex-basis: 100%;
    margin-bottom: 10px;
  }
  
  .movie-grid-item {
    flex-basis: 33%;
    margin-right: 10px;
  }
  
  .movie-grid-image {
    max-width: 100%;
  }
  