.movie-grid {
    display: flex;
    flex-wrap: wrap;
    grid: gap 30px;  
    padding: 30px;
  }
  
  .movie-grid-row {
    display: flex;
    flex-basis: 100%;
    grid-gap: 30px;
    }
  
  .movie-grid-item {
    flex-basis: 34%;
  }
  
 